[Unit]
Description=nomad agent
Requires=network-online.target
After=network-online.target

[Service]
Environment=HOME=/root
EnvironmentFile=-/etc/sysconfig/nomad
Restart=on-failure
ExecStart=/usr/local/bin/nomad agent -config=/etc/sysconfig/nomad.conf -log-level INFO
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
