[Unit]
Description=nomad agent
Requires=network-online.target
After=network-online.target

[Service]
Environment=AWS_ACCESS_KEY_ID="XXXXXXXXXXXXXX"
Environment=AWS_SECRET_ACCESS_KEY="XXXXXXXXXXXXXXXXXXX"
Environment=AWS_DEFAULT_REGION=us-east-2
Environment=HOME=/root
EnvironmentFile=-/etc/sysconfig/nomad
Restart=on-failure
ExecStart=/usr/local/bin/nomad agent -config=/etc/sysconfig/nomad.conf -log-level INFO
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
